           <meta charset="utf-8">
            | <a href="FormCadastrarUsuario.php">Cadastrar Usuários</a> |
            <a href="ListarUsuarios.php">Lista de Usuários</a> |
            <a href="FormCadastrarEstado.php">Cadastrar Estados</a> |
            <a href="ListarEstados.php">Lista de Estados</a> |
            <a href="FormCadastrarCidade.php">Cadastrar Cidades</a> |
            <a href="ListarCidades.php">Listar Cidades</a> |
            <a href="FormCadastrarCarro.php">Cadastrar Carros </a> |
            <a href="ListarCarros.php">Listar Carros </a> |
            <a href="FormCadastrarPerfil.php">Cadastrar Perfils</a> |
            <a href="ListarPerfils.php">Lista de Perfils</a> |
            <a href="FormCadastrarProfissao.php">Cadastrar Profissões</a> | 
            <a href="ListarProfissoes.php">Listar Profissões</a> |
            <a href="FormCadastrarSalario.php">Cadastrar Sálario</a> | 
            <a href="ListarSalarios.php">Listar sálarios</a> |
            <a href="FormCadastrarProfessor.php">Cadastrar Professor</a> | 
            <a href="ListarProfessores.php">Listar professores</a> |
            <a href="FormCadastrarCurso.php">Cadastrar Curso</a> | 
            <a href="ListarCursos.php">Listar Cursos</a> |
            <a href="FormCadastrarMatricula.php">Efetuar Matrícula</a> | 
            <a href="ListarMatriculas.php">Listar Matrículas</a> |
        <hr>